.leyenda {
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-left: 2px solid rgba(0, 0, 0, 0.2); /* Borde izquierdo con opacidad */
    border-right: 2px solid rgba(0, 0, 0, 0.2); /* Borde derecho con opacidad */
    border-bottom: 2px solid rgba(0, 0, 0, 0.2); /* Borde inferior con opacidad */
    border-bottom-left-radius: 5px; /* Borde redondeado en la esquina inferior izquierda */
    border-bottom-right-radius: 5px; /* Borde redondeado en la esquina inferior derecha */
    position: relative; /* Necesario para los pseudoelementos */

}

.preciomayor {
    background-color: #df5d5f54;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #df5d5f;
    font-weight: 800;
}

.preciomediano {
    background-color: #f39c4562;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.preciomenor {
    background-color: #33e47a52;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #23b35c;
    font-weight: 800;
}

/* Añadir bordes redondeados a los extremos del borde inferior */
.leyenda::after {
    content: '';
    display: block;
    width: 10px; /* Ancho del radio */
    height: 10px; /* Altura del radio */
    background: transparent;
    position: absolute;
    bottom: -2px; /* Posición del borde inferior */
}

.leyenda::before {
    content: '';
    display: block;
    width: 10px; /* Ancho del radio */
    height: 10px; /* Altura del radio */
    background: transparent;
    position: absolute;
    bottom: -2px; /* Posición del borde inferior */
}
