{% extends "TFM/base.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>MAPA INTERACTIVO</h5>
                </div>
                <div class="card-body">
                    {{ map|safe }}
                </div>
                
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5>Filtrar en el mapa</h5>
        </div>
        <div class="card-body">
            Aqui pondremos los filtros para el mapa
        </div>
    </div>

{% endblock content %}