{% extends "TFM/base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h5>Filtrar en el mapa</h5>
        </div>
        <div class="card-body">
        <!-- Aquí agregamos el dropdown para filtrar -->
        <select class="form-control" id="filtro">
            <option value="todos">Todos</option>
            <option value="Valencia">Valencia</option>
            <option value="Alicante">Alicante</option>
            <option value="Castellon">Castellón</option>
        </select>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5>MAPA INTERACTIVO</h5>
        </div>
        <div class="card-body">
            {{ map|safe }}
        </div>
    </div>

    
    
{% endblock content %}